
@using Microsoft.AspNetCore.Components.Web
@using TheWag.Models;
@using TheWag.Wasm.Util;
@using TheWag.Wasm.Services;

@inject CartService cartService
@inject AppSettings appSettings

@page "/cart"

<PageTitle>Sopping cart</PageTitle>

<h3>Shopping Cart</h3>
<div class="container-fluid">

    @if (cartService.Cart == null)
    {
        <img src="images/TailLoader.gif" style="max-height:4em; max-width:4em" />
        <em>Loading...</em>
    }
    else
    {
        <p>Order for @cartService.Cart?.Customer?.Email ?? "anonymous"</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Sub Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in cartService.Cart.Items)
                {
                    <tr>
                        <td>
                            <img src="@($"{appSettings.BlobHostUrl}/{appSettings.ContainerName}/{item.Product.URL}")" class="card-img-top force-fit-thumbnail" alt="@item.Product.Description">
                            <span style="display:inline-block">@item.Product.Description</span>
                        </td>
                        <td>
                            <img src="images/delete.png" class="icon" @onclick="(() => cartService.DecrementItem(item.Product))" />
                            @item.Quantity
                            <img src="images/plus.png" class="icon" @onclick="(() => cartService.IncrementItem(item.Product))" />
                        </td>
                        <td>@item.Product.PriceCurrency</td>
                        <td>@string.Format("{0:C}", item.Quantity * item.Product.Price)</td>
                    </tr>
                }
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td>@string.Format("{0:C}", cartService.GetTotalPrice())</td>
                </tr>
            </tbody>
        </table>
    }
</div>
@code {
   
}
